# Virtual Environments
.venv/
venv/
ENV/
env/

# Python cache & compiled files
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
htmlcov/

# Environment variable files
.env

# IDE / Editor settings
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
-Uri
